[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = {extras = ["dotenv"], version = "*"}
aiohttp = "*"
"discord.py" = {extras = ["voice"], version = "*"}
tortoise-orm = {extras = ["asyncpg"], version = "*"}
cachetools = "*"
jishaku = "*"
wavelink = "*"

[dev-packages]
black = "*"
isort = "*"
aerich = "*"
watchgod = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
